<section>
  <h2>{{ i18n "rules.title" }}</h2>
  <h3>{{ i18n "rules.must.title" }}</h3>
  <ul>
    <li>{{ i18n "rules.must.useAvatar" }}</li>
    <ul>
      <li>{{i18n "rules.must.useAvatarBody" }}</li>
    </ul>
    <li>{{ i18n "rules.must.followStaff" }}</li>
    <ul>
      <li>{{ i18n "rules.must.mayAskMoveInstance" }}</li>
    </ul>
  </ul>
  <h3>{{ i18n "rules.can.title" }}</h3>
  <ul>
    <li>{{ i18n "rules.can.sampleAvatarAllowed" }}</li>
    <ul>
      <li>{{ i18n "rules.can.askStaffIfNoSampleAvatar" }}</li>
    </ul>
    <li>{{ i18n "rules.can.canTakePhotos" }}</li>
    <ul>
      <li>{{ i18n "rules.can.photosMayBeUsed" }}</li>
    </ul>
  </ul>
  <h3>{{ i18n "rules.mustNot.title" }}</h3>
  <ul>
    <li>{{ i18n "rules.mustNot.prohibitedAvatarsHeading" }}</li>
    <ul>
      <li>{{ i18n "rules.mustNot.prohibitedAvatarSensitive" }}</li>
    </ul>
    <ul>
      <li>{{ i18n "rules.mustNot.prohibitedAvatarExtremeChimera" }}</li>
      <li>{{ i18n "rules.mustNot.prohibitedAvatarToSViolation" }}</li>
      <li>{{ i18n "rules.mustNot.prohibitedAvatarIllegalUpload" }}</li>
    </ul>
    <li>{{ i18n "rules.mustNot.noHarassment" }}</li>
    <li>{{ i18n "rules.mustNot.staffMayRemove" }}</li>
  </ul>
</section>
